*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.align-center{
    align-items: center;
}

#submit{
    background-color: orange;
    border: 1px solid black;
}

.nav-bg{
    background-image: url(../city.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 350px;
}
.img-log{
    display: flex;
}
.img-log img{
    margin-right: 10px;
    width: 55px;
    height: 55px;
    border-radius: 15px;
    border: 2px solid orange;
}
.img-log i{
    margin-top: 20px;
    margin-right: 5px;
    cursor: pointer;
    font-size: 22px;
}

.col{
    width: 1200/2;
    /* border: 2px solid red; */
}

.col p{
    padding-top: 90px;
}

.food-img img{
    width: 450px;
    height: 250px;
    margin: auto;
    animation: fly 2s linear infinite;
}

@keyframes fly{

    0%,100%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.2)
    }

}

.switch button{
    background-color: green;
    width: 120px;
    border-radius: 10px;
    height: 26px;
}
.switch span{
    color: white;
    font-weight: bold;
}
/* .switch button span{
    border: 2px solid white;
    display: block;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background-color: white;
    margin-left: 4px;
    font-size: 17px;
    font-weight: bold;
} */
.inline li{
    display: inline-block;
    padding: 5px;
    font-size: 15px;
    margin-top: 10px;
    font-weight: 500;
    cursor: pointer;
}
.inline li:hover{
    color: orange;
}
.box-list{
    width: 288px;
    /* border: 2px solid gray; */
    box-shadow: 0 0 10px 0px black;
    margin-top: 25px;
    text-align: center;
}
.box-list button{
    background-color: orange;
    width: 150px;
}
.box-list img{
    height: 250px;
    width: 100%;
}

.order{
    border-radius: 10px;
    box-shadow: 0 0 4px 4px gray;
    height: 250px;
    padding-top: 25px;
    background-image: url(../Img/backgroundimage.jpg);
    color: whitesmoke;
}
.order input{
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
    width: 250px;
    color: black;
}
.order select{
    border: 1px solid black;
    border-radius: 5px;
    color: black;
}
.order button{
    background-color: orange;
    width: 150px;
    border-radius: 10px;
    color: white;
    font-size: 20px;
}

.relate{
    position: relative;
}
.obso{
    position: absolute;
    left: -100%;
    transition: 1.5s;
}

.pay-bg{
    background-image: url(../Img/paymentbg.jpg);
}


/*Class for using javascript*/
.join-drop{
    width: 350px;
    position: absolute;
    top: 0%;
    left: 50%;
    height: 150px;
    text-align: center;
}
.join-form{
    position: relative;
    top: -150%;
    border: 2px solid wheat;
    background-color: rgb(95, 88, 86);
    transition: 1.5s;
}

.join-show{
    top: 0%;
}
.black-bg{
    background-color: black;
}
.text-white{
    color: red;
}
.text-white-switch{
    color: white;
    font-size: 17px;
    font-weight: bold;
}
.bg-white{
    background-color: white;
}
.active span{
    margin-left: 28px;
}

.test{
    width: 250px;
    border: 2px solid red;
}
.payment-show{
    position: absolute;
    left: -1%;
}

/*Class for using javascript*/





@media(max-width:450px){

    .col p {
        font-size: 15px;
    }

    .inline li{
        padding: 2px;
        font-size: 15px;
        margin-top: 10px;
        cursor: pointer;
    }

}